@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #000;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #246c44;
  color: #fff;
  font-family: "TimKid", sans-serif;
}

a,
button,
input {
  font-family: "TimKid", sans-serif;
}

button {
  outline: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 80px;
  width: 100vw;
  padding-top: 22px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 9999999;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: #062815;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.home {
  padding-top: 80px;
  width: 100%;
}

.home-intro {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #062815;
}

.home-intro-image {
  width: 50vw;
  height: 50vw;
  position: relative;
}

.home-intro-desc {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  min-height: 450px;
}

.home-intro-desc-text {
  text-align: center;
  font-size: 2vw;
}

.home-intro-button-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.home-intro-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-intro-button {
  font-size: 25px;
  width: 85vw;
  padding: 10px;
  max-width: 420px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  background-color: #246c44;

  user-select: none;
  cursor: pointer;

  transition: background-color 0.2s;
}

.home-intro-button:hover {
  background-color: #228b22;
}

.home-intro-button:active {
  background-color: #733ab000;
}

.home-intro-lines {
  width: 100vw;
  position: static;
  left: 0;
  margin-top: 50px;
  z-index: 9;
}

.home-intro-line {
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: -webkit-gradient(linear,
      left top,
      right top,
      from(#00cda0),
      color-stop(50.5%, #00b3ff),
      to(#fe00f8));
  /*background: linear-gradient(90deg, #00cda0 0%, #00b3ff 50.5%, #fe00f8 100%);*/
  background: white;
  padding: 4px 0;
}

.home-intro-line:first-child {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

.home-intro-line:last-child {
  margin-top: -70px;
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.home-intro-line:before {
  background: seagreen;
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: calc(100% - 8px);
}

.home-intro-line-row {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-intro-line:first-child .home-intro-line-row {
  -webkit-animation: scrolling-1 11000s linear infinite;
  animation: scrolling-1 11000s linear infinite;
}

.home-intro-line:last-child .home-intro-line-row {
  -webkit-animation: scrolling-2 11000s linear infinite;
  animation: scrolling-2 11000s linear infinite;
}

@-webkit-keyframes scrolling-1 {
  0% {
    -webkit-transform: translateX(-270000.5px);
    transform: translateX(-270000.5px);
  }

  100% {
    -webkit-transform: translateX(2878103.5px);
    transform: translateX(2878103.5px);
  }
}

@keyframes scrolling-1 {
  0% {
    -webkit-transform: translateX(-270000.5px);
    transform: translateX(-270000.5px);
  }

  100% {
    -webkit-transform: translateX(2878103.5px);
    transform: translateX(2878103.5px);
  }
}

@-webkit-keyframes scrolling-2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-2878103.5px);
    transform: translateX(-2878103.5px);
  }
}

@keyframes scrolling-2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-2878103.5px);
    transform: translateX(-2878103.5px);
  }
}

.home-intro-line-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0;
}

.home-intro-line-text:not(:first-child) {
  margin-left: 97.73px;
}

.home-action {
  padding-top: 150px;
  position: relative;
  z-index: 1;
  background-color: #346B49;
}

.home-action-desc {
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.home-action-desc-text {
  text-align: center;
  font-size: 30px;
}

.home-action-card-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.home-action-card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 90%;
  max-width: 400px;
  height: 410px;
  border: 2px solid #052715;
  background-image: url('/stepssection.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.home-action-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.home-action-card-title-icon {
  width: 30%;
}

.home-action-card-title-text {
  font-size: 22px;
  width: 100%;
}

.home-action-card-content {
  font-size: 20px;
}

.home-action-image {
  width: 50vw;
  height: 50vw;
  position: absolute;
  bottom: 5vh;
  right: -3vw;
  transform: scaleX(-1);
  z-index: -1;
}

.home-action-lines {
  width: 100vw;
  left: 0;
  margin-top: 0px;
  z-index: 91;
  position: absolute;
  top: 70px;
}

.home-action-line {
  width: 100%;
  height: 80px;
  overflow: hidden;
  left: 0px;
  width: 100%;
  bottom: 12px;
  overflow: hidden;
  border: 4px solid #000;
  border-left: none !important;
  border-right: none !important;
  bottom: -33px;
  z-index: 999;
  transform: rotateZ(0) !important;
  background-color: #ffad02;
  padding: 4px 0;
}

.home-action-line:first-child {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

.home-action-line:last-child {
  margin-top: -70px;
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

/* .home-action-line:before {
  background: seagreen;
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: calc(100% - 8px);
} */

.home-action-line {
  height: 52px !important;

}

.home-action-line-row {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  align-items: center;
}

.home-action-line:first-child .home-action-line-row {
  -webkit-animation: scrolling-1 11000s linear infinite;
  animation: scrolling-1 11000s linear infinite;
}

.home-action-line:last-child .home-action-line-row {
  -webkit-animation: scrolling-2 11000s linear infinite;
  animation: scrolling-2 11000s linear infinite;
}

.home-action-line-text {
  font-size: 1.1rem;
  /* font-weight: 700; */
  /* line-height: 29px; */
  letter-spacing: 0;
  color: #000 !important;
}

.home-action-line-text:not(:first-child) {
  margin-left: 0px;
}

.banner {
  position: relative;
  display: flex;
}

.banner-wrapper {
  display: block;
  left: 15vw;
  width: 70vw;
  height: 50vw;
  margin: -50px 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-mobile-wrapper {
  display: none;
}

.footer-socials {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  gap: 5px;
  background-color: #062815;
}

.footer-social {
  margin-left: 10px;
  margin-right: 10px;
}

.footer-top {
  position: absolute;
  right: 20px;
  bottom: 35px;
}

.my-font {
  font-family: "TimKid", sans-serif;
}

@media only screen and (max-width: 1000px) {
  .home-intro {
    flex-direction: column;
  }

  .home-intro-image {
    width: 90vw;
    height: 90vw;
  }

  .home-intro-desc {
    align-items: center;
  }

  .home-intro-desc-text {
    font-size: 4vw;
    width: 90vw;
  }

  .home-intro-lines {
    margin-top: 0px;
  }

  .home-action-desc {
    margin-top: 0px;
  }

  .home-action-card {
    height: 500px;
  }

  .home-action-image {
    width: 500px;
    height: 500px;
    margin-right: 100px;
  }

  .home-intro-top {
    flex-direction: column;
  }

  .banner-wrapper {
    display: none;
  }

  .banner-mobile-wrapper {
    display: block;
    width: 100vw;
    margin: 50px 0px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 2000px) {
  .home-action-image {
    width: 50vh;
    height: 50vh;
    bottom: 0;
    margin-right: 5vw;
  }

  .home-action-desc {
    margin-left: 5vw;
  }
}

@font-face {
  font-family: TimKid;
  src: url("/font/TimKid.ttf");
}


.select-wallet-button {
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-left: auto;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #228b22 !important;
  box-shadow: inset 0px 0px 0px 1px #000;
}

.home-action-four-steps {
  display: "flex";
  flex-direction: "row";
  justify-content: "space-between";
}

/*  */
.section-width {
  max-width: 2000px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
}

.new-home {
  background-image: url(../public/new/top\ banner.png);
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
}

.haich {
  text-shadow: 4px 0 #000, -4px 0 #000, 0 4px #000, 0 -4px #000, 3px 3px #000, -3px -3px #000, 3px -3px #000, -3px 3px #000;

  font-size: 19px;
  text-transform: uppercase;
}

.input-copy textarea {
  font-size: 13px;
}

.min-height {

  min-height: 100vh;
}

.min-height-res {
  min-height: 100vh;
  display: flex;
  align-items: center;

}

.upper-img {
  padding-top: 10px;
}

.upper-img img {
  width: 270px;
}

.masj {
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 5px;
  width: 100%;
}

.btns-cjk button {
  height: 40px;
  width: 100%;
}

.btns-cjk button img {
  width: 100%;
}

.red-btn {
  background-color: #fb082d;

  text-transform: uppercase;
  border: 2px solid #000;
  color: white;
  height: 50px;
}

.yellow-btn {
  background-color: #ffad02;

  text-transform: uppercase;
  border: 2px solid #000;
  color: rgb(0, 0, 0);
  height: 50px;
}

.btns-cjk {
  width: 100%;
  margin-top: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.flex-bx {
  display: flex;
  align-items: stretch;
  padding: 18px;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
  background-color: #002d17;
  border: 2px solid black;
  border-radius: 10px;
  min-height: 400px;
}

.flx-col {
  width: 48%;

}

.social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  position: absolute;
  left: 20px;

  top: 20px;
  list-style: none;
}

.social-lists li a img {
  width: 175px;
}

.social-lists li a img.homebtn {
  width: 67px;
}

.social-lists {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: .5rem;

  list-style: none;
}

.social-list li a img {
  width: 3rem;
}

.rotate-it {
  display: inline-block;
  /* animation: rotate 3s linear infinite; */
  transition: all 0.3s ease;
  scale: 1;
}

.rotate-it:hover {
  scale: 1.1 !important;
  transition: all 0.3s ease;
}

.buy-lepers {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

.inside-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-inline: 100px; */
}

.larry-gif {

  display: flex;
  justify-content: center;
  /* padding: 20px; */

  width: 50%;
}

.btnsas button img {
  width: 200px;
}

.hovering {
  transition: all 0.3s ease-in-out;
}

.abs-img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  display: flex;
  right: 6%;
  margin-top: 40px;
}

.abs-img img {

  width: auto;
  /* Ensures the image covers the full width */
  height: 88%;
  /* Ensures the image covers the full height */
  object-fit: contain;
  margin: auto;
}



.hovering:hover {
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}

.relative {
  position: relative;
}

.how-it-works {
  background-color: #00713a;
  background-image: url(/new/secbg.png);
  min-height: calc(100vh - 100px);
  padding-top: 100px;
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
}

.btnsas {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.larry-content {
  width: 50%;

}

.larry-content h1 {

  font-size: 90px;
  max-width: 700px;
  line-height: 100px;
  text-shadow: 4px 0 #000, -4px 0 #000, 0 4px #000, 0 -4px #000, 3px 3px #000, -3px -3px #000, 3px -3px #000, -3px 3px #000;
}

.yellow-color {
  color: #ffad02 !important;
}

.larry-gif img {
  /* background-image: url(../public/new/top\ image.png); */
  background-color: white;
  /* White background like a polaroid */
  border: 2px solid black;
  /* Black border */
  box-shadow: -14px 15px 0px 1px rgba(0, 0, 0, 0.3);
  /* Adds shadow */
  transform: rotate(-5deg);
  /* backface-visibility: hidden; */

  background-size: cover;
  background-position:
    center;
  object-fit: cover;
  padding: 1vw;
  width: 70%;
}

.flex-text-h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

.flex-text-p {
  font-size: 20px;
  margin-bottom: 25px;
}

.how-content {
  /* padding-top: 100px; */
  margin-left: 100px;
  max-width: 810px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.get-btn {
  margin-top: 40px;
}

.get-btn img {
  width: 200px;
}

.footer-area {
  min-height: 100vh;
  background-image: url(/new/bgnew.png);
  background-size: cover;
  background-position: top;
}

.lepper-footer img {
  width: 60vw;
}

.lepper-footer {
  position: absolute;
  right: 0;
  bottom: 10vh;
}

.relative {
  position: relative;
}

.paddinb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 !important;
  gap: 10vh;
}

.botma {

  padding-top: 130px;
  padding-left: 100px !important;
}

.bottom-dex {
  padding-bottom: 100px;

  padding-left: 100px !important;
}

.flex-smoke-h1 {
  font-size: 50px;
  margin-bottom: 30px;
  line-height: 30px;
}

.mb-0 {
  margin-bottom: 10px !important;
}

.flex-smoke-p {
  font-size: 22px;
  margin-bottom: 25px;
}

.social-list.static li a img {

  width: 3rem;
}

.bottom-dex {
  margin-bottom: 100px;
}

.locker-leper img, .buy-leper img {
  width: 150px;
}

.footer-area {
  border-top: 2px solid black;
}

.meme-earn {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  flex-direction: column;
  justify-content: center;
}

@media (min-width:2000px) {
  .inside-li {
    margin-left: calc((100vw - 2000px) / 2);
    ;
  }
}

.other-links {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 100px;
  padding-bottom: 10vh;
  padding-top: 5vh;
  left: 0;



  background-color: #004e28;
}

.other-bg {
  width: 100%;
  background-color: #004e28;
}

.other-links h1 {
  font-size: 27px;
  margin-bottom: 10px !important;
}

.other-lo {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.manW.home-action-line {
  margin-top: -73px !important;
}

.other-lo li a {
  font-size: 16px;
}

.yellow-clr {
  color: #ffad02;
}

.wallet-adapter-button {
  font-family: TimKid !important
}

.static {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  list-style: none;
  position: static !important;
  display: flex !important;
  justify-content: start !important;
}

.input-copy {
  margin-top: 5px;
  min-height: 100px;
}

.mt-10 {
  margin-top: 20px;
}

.input-copy textarea {
  background-color: #00693a;
  min-height: 100px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  width: 100%;
  outline: none;
  height: 100%;
  overflow: hidden;
  resize: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

.input-copy button img {
  width: 43px;
}

.input-copy button {
  position: absolute;
  bottom: -13px;
  right: -9px;

}

.input-copy.h1002,
.input-copy.h1002 textarea {
  height: 100% !important;
}

.flx-col {
  display: flex;
  flex-direction: column;
}

.haich.haich-yellow {
  color: #ffad02;
  margin: 0 !important;
  font-size: 24px;
}

.choose-name input {

  text-align: center;
  background-color: #00995f;
  padding: 18px 10px;
  font-size: 20px;
  outline: none;
  transform: skew(-5deg);
  border: 3px solid black;
  margin-bottom: 10px;
}

.choose-name button {
  background-color: #fb082d;
  border: 3px solid black;
  color: white;
  text-transform: uppercase;
  width: max-content;
  padding: 5px 30px;

  display: block;
  margin: auto;

}

.choose-name {
  display: flex;
  gap: 10px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  flex-direction: column;
}

.this-abs {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;

  margin: auto;
  display: flex;
  justify-content: center;
}

@media (min-width: 1100px) {
  .how-content {
    /* padding-bottom: 50px; */
  }

  .flex-center {
    padding-block: 50px;
  }
}

@media (min-width: 2300px) {
  .flex-bx {
    max-width: 1300px;
  }

  .haich.haich-yellow {
    font-size: 33px;

  }

  .choose-name {
    max-width: 600px;
    gap: 15px;
  }

  .choose-name input {
    font-size: 29px;
  }

  .choose-name button {
    font-size: 25px;
    padding: 10px 39px;
  }

  .haich {
    font-size: 30px;

  }

  .input-copy textarea {
    font-size: 21px;
  }

  .btns-cjk button {
    height: 70px;

    font-size: 22px;
  }

  .input-copy button img {
    width: 50px;
  }

  .upper-img img {
    width: 380px;
  }
}

@media (min-width: 3100px) {
  .flex-bx {
    max-width: 1800px;
  }

  .haich.haich-yellow {
    font-size: 42px;

  }

  .choose-name {
    max-width: 900px;
    gap: 15px;
  }

  .choose-name input {
    font-size: 40px;
  }

  .choose-name button {
    font-size: 31px;
    padding: 15px 40px;
  }

  .input-copy,
  .masj {
    margin-top: 15px;
  }

  .flex-bx {
    padding: 30px;
  }

  .upper-img img {
    width: 450px;
  }

  .btns-cjk,
  .mt-10 {
    margin-top: 40px;
  }

  .input-copy {
    min-height: 150px;
  }

  .input-copy button img {
    width: 65px;
  }

  .input-copy button {
    position: absolute;
    bottom: -20px;
    right: -9px;
  }

  .haich {
    font-size: 45px;

  }

  .input-copy textarea {
    font-size: 30px;
  }

  .btns-cjk button {
    height: 90px;
    font-size: 32px;
  }
}

@media (min-width: 2200px) and (min-height: 1000px) {
  .larry-content h1 {
    font-size: 120px;
    max-width: 900px;
    line-height: 120px;
  }

  .how-content {
    max-width: 900px;
  }

  .flex-text-p {
    font-size: 30px;
  }

  .flex-text-h1 {
    font-size: 80px;

  }

  .inside-flex.section-width {
    max-width: 80vw;
  }

  .flex-text-h1 {
    font-size: 80px;
  }

  .flex-text-p {
    font-size: 30px;
  }

  .flex-center {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }

  .how-content {
    padding-top: 0 !important;
    margin: 0;
  }
}


@media (min-width: 3100px) and (min-height: 1850px) {
  .how-content .flex-text-h1 {
    font-size: 100px;
  }

  .how-content {

    max-width: 1300px;
  }

  .how-content .flex-text-p {
    font-size: 50px;
  }

  .flex-text-p {
    font-size: 30px;
  }

  .larry-content h1 {
    font-size: 150px;
    max-width: 1200px;
    line-height: 180px;
  }

  .btnsas {
    margin-top: 2vw;
  }

  .btnsas button img {
    width: 7vw;
  }
}

@media (min-width: 3800px) and (min-height: 1850px) {
  .flex-text-p {
    font-size: 30px;
  }

  .larry-content h1 {
    font-size: 200px;
    max-width: 1400px;
    line-height: 220px;
  }
}

@media (max-width: 1500px) {

  .paddinb,
  .footer-area {
    min-height: 800px;
  }



  .abs-img img {
    height: 90%;
  }

  .how-it-works {
    min-height: 800px;
  }
}

@media (max-width: 1280px) {
  .how-content {
    margin-left: 0;
    max-width: 700px;
  }

  .larry-content h1 {
    font-size: 70px;
    line-height: 80px;
  }

  .btnsas button img {
    width: 150px;
  }
}

@media (max-width: 1100px) {
  .botma {
    padding-top: 100px;
  }

  .lepper-footer img {
    width: 50vw;
  }

  .how-content {
    margin-left: 0;
    max-width: 600px;
  }
}

@media (max-width: 1000px) {



  .upper-img img {
    width: 220px;
  }


  .lepper-footer img {
    display: none;
  }

  .abs-img img {
    width: 350px;
  }

  .how-it-works {

    padding-block: 100px 80px;
  }

  .how-content {
    padding-top: 80px;
  }

  .how-content {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .abs-img {
    margin: 0;
    position: static;
    width: 100%;
  }

  .larry-content h1 {
    font-size: 55px;
    line-height: normal;
  }

  .btnsas button img {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .this-abs {
    position: static !important;
    padding-top: 0 !important;
    margin-bottom: 5s0px;
  }

  .flex-bx {
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }

  .flx-col:last-child {
    margin-top: 30px;
  }

  .flx-col {
    margin: auto;
    width: 100%;
  }

  .wallet-adapter-button {
    height: 33px !important;
    padding-block: 0 !important;
    font-size: 13px !important;
  }

  .inside-flex {
    padding-top: 25px !important;
  }

  .botma {
    padding-top: 50px;
  }

  .bottom-dex {
    margin-bottom: 50px;
  }

  .how-it-works {
    background-position: left;
    background-size: cover;
  }


  .footer-area {
    min-height: auto;
  }

  .inside-flex {
    flex-direction: column;
    gap: 40px;
  }

  .larry-content h1 {
    font-size: 35px;
    width: 100%;
    text-align: center;
    max-width: none;
  }

  .social-list li a img {
    width: 2rem;
  }

  .social-lists li a img.homebtn {
    width: 45px;

  }

  .social-lists li a img {
    width: 120px;
  }

  .larry-content {
    max-width: 300px;
    width: 100%;
  }

  .btnsas {
    justify-content: center;
  }

  .btnsas button img {
    width: 100px;
  }


  .larry-gif {
    width: 100%;
  }

  .larry-gif img {
    width: 300px;
  }

  .paddinb {
    height: auto;
    min-height: auto;
    gap: 50px;
    padding-left: 0 !important;
    padding-block: 0 !important;
    padding-top: 50px !important;
  }

  .botma, .bottom-dex {
    padding-inline: 20px !important;
  }

  .footer-area .flex-smoke-h1 {
    font-size: 30px;
  }

  .other-lo li a {
    font-size: 15px;
  }

  .other-links h1 {
    font-size: 22px;
  }

  .other-links {
    background-color: #004e28;
    width: 100%;
    bottom: 0;
    padding-block: 30px;
    padding-inline: 20px;
  }
}

@media (max-width: 600px) {
  .flex-bx {

    width: 100%;
  }

  .btns-cjk button {
    font-size: 13px;
  }

  .upper-img {
    padding-top: 100px;
  }

  .choose-name input {
    padding-block: 12px 8px;
  }

  .haich.haich-yellow {
    font-size: 21px;
  }

  .choose-name button {
    font-size:
      16px
  }
}

@media (max-width: 450px) {
  .footer-area .flex-smoke-h1 {
    font-size: 23px;
  }

  .flex-text-h1 {
    font-size: 40px;
  }

  .larry-gif img {
    width: 280px;
  }

  .haich {
    font-size: 17px;
  }

  .input-copy textarea {
    font-size: 12px;
  }

  .upper-img img {
    width: 200px;
  }

  .input-copy button img {
    width: 35px;
  }

  .input-copy button {
    position: absolute;
    bottom: -12px;
    right: -7px;
  }
}

@media (max-width: 390px) {
  .social-lists li a img.homebtn {
    width: 38px;
  }

  .social-lists li a img {
    width: 100px;
  }

  .social-list li a img {
    width: 1.7rem;
  }
}

@media (max-width:350px) {
  .larry-gif img {
    width: 200px;
  }

  .larry-content h1 {
    font-size: 30px;

  }

  .btnsas {
    margin-top: 20px;
  }

  .btns-cjk {
    flex-direction: column;
  }

}